body {
	width: 100%;
	margin: 0;
}

#background-gradient {
	position: absolute;
	top: 0;
	width: 100%;
	height: 860px;
	background-color: #dcdcdc;
}

#wrapper {
	width: 1000px;
	height: 860px;
	background-color: #c0c0c0;
	position: relative;
	margin: 0 auto;
	/*position: absolute;
	top: 0;
	left: 50%; 		ovo apsolutno poz nije vise potrebno jer sam otkrio da je
	margin-top: 0;	problem bio u marginama od <p> koje su iskakale
	margin-left: -500px;*/
}

#pageBody {
	width: 690px;
	height: 860px;
	background-color: #a9a9a9;
	margin: 0 auto; 
	position: relative;

}

#authHeader {
	background-color: #63b8ff;
	height: 96px;
	margin-bottom: 15px; /*trebalo bi da stoji u logs-n-tabs*/ 

}

#logo-and-tabs {
	background-color: #ffc0cb;
	/*height: 56px; izbrisati posle jer je logo te visine*/
	padding-top: 40px;
	margin-bottom: 15px; /*prebaceno iz authHeader ali nestala margina; moguce zbog 'collapsing margins' pojave*/
	position: relative; /*mora da bi tabs bili pos:abs u odn na ovo;*/
}

#logo {
	background-image: url("https://images.mint.com/web-client/images/mint-logo.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	position: relative;
	top: 12px;
	height: 56px;
	width: 89px;
}

#logo-link {
	display: block;
	float: left;
	height: 81px;
	width: 194px;
	text-decoration: none;
}

#tabs {
	background-color: #cd919e;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
}

#tabs li:nth-child(1) {
	border: 0 none;
}

#authContent {
	background-color: #4682b4;
	height: 749px;
	padding: 43px 50px 50px 50px;
}

/*p {
	margin: 0 auto;
}*/

a {
	color: #45cae6;
	cursor: pointer;
}

ul {
	list-style: outside none none;
}

li {
	display: inline;
	padding: 5px 10px;
	border-left: 1px solid #d3d3d3;
}

